<form (ngSubmit)="saveArticle()"
  [formGroup]="form">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Name</label>

      <input formControlName='name'
        name="name"
        type="text"
        class="form-control"
        appInputFormat
        placeholder="Article Name">
    </div>

    <div class="form-group col-md-3">
      <label>Category</label>
      <select formControlName='category'
        name="category"
        class="form-control">
        <option>lifestyle</option>
        <option>coding</option>
        <option>travel</option>
      </select>
    </div>


    <div class="form-group col-md-6">
      <label>image</label>

      <input formControlName='image'
        name="image"
        class="form-control"
        placeholder="Image URL">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label>Content</label>

      <div class="buttons">
        <br>
        <span (click)="editor()">
          Bold
        </span>

        <input type="button"
          value="B"
          onmousedown="document.execCommand('bold',false,null); return false">

        <input type="button"
          value="C"
          onmousedown="document.execCommand('italic',false,null); return false">

        <span (click)="style = 'italic'; control($event) ">
          Italic
        </span>

        <span (click)="style = 'justifyCenter'">
          Center
        </span>
        <span (click)="style = 'underline'">
          Unerline
        </span>
        <span (click)="style = 'h1' ">
          h1
        </span>
        <span (click)="style = 'h2'; isActive = 'true'; ">
          h2
        </span>
        <span (click)="style = 'p' ">
          P
        </span>
        <span (click)="style = 'img' ">
          img
        </span>
        <span (click)="style = '' ">
          inactive
        </span>
      </div>

      <div class="edit"
        name='Field'
        id="content"
        (click)="control(); "
        contenteditable="true">
        This text can be edited by the user.
      </div>

      <!-- formControlName='content' name="content" -->

      {{content | json }}
      <!-- <textarea formControlName='content'
        name="content"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3">
        <div id="content">{{content}}</div>
      </textarea> -->
    </div>
  </div>

  <button type="submit"
    class="btn btn-primary">Sign in</button>
</form>
