<form (ngSubmit)="saveArticle()"
  [formGroup]="form">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Name</label>

      <input formControlName='name'
        name="name"
        type="name"
        class="form-control"
        id="inputEmail4"
        placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label>Category</label>

      <input formControlName='category'
        name="category"
        type="name"
        class="form-control"
        id="inputEmail4"
        placeholder="Category">
    </div>
    <div class="form-group col-md-6">
      <label>image</label>

      <input formControlName='image'
        name="image"
        type="name"
        class="form-control"
        id="inputEmail4"
        placeholder="Category">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Date</label>

      <input formControlName='date'
        name="date"
        type="name"
        class="form-control"
        id="inputEmail4"
        placeholder="Email">
    </div>
    <div class="form-group col-md-3">
      <label>Author</label>


      <input formControlName='author'
        name="author"
        type="name"
        class="form-control"
        id="inputEmail4"
        placeholder="Category">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label>Example textarea</label>

      <textarea formControlName='content'
        name="content"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"></textarea>
    </div>
  </div>

  <button type="submit"
    class="btn btn-primary">Sign in</button>
</form>
