
.article_category{
    display: flex;
    align-items: center;

    .social{
      margin-left: 1rem;
    }
}

.article_head{
  // margin-bottom: 2rem;
  border-bottom: solid 1px gray;
  // padding-bottom: 1rem;
}

.article_title{
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0;
}

section p{
  margin-top: 1rem;
  text-align: justify;
}

.category{
  color: #25457a;
  font-weight: 500;
  margin-bottom: 0rem;
  display: inline-block;
}

.article_content{
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    letter-spacing: .1px;
    line-height: 1.6;

  p{
    margin-top: 2rem;
  }
}
