<div>

  <aside class="col-md-4">
    <h2 class="section_heading">

      RECOMENDED</h2>
    <div class="side_container_categories">

      <div class="">
        <img class="img-fluid"
          [src]="side.side1"
          alt="">
      </div>
      <div class="">
        <img class="img-fluid"
          [src]="side.side2"
          alt="">
      </div>


      <div class="">
        <img class="img-fluid"
          [src]="side.side3"
          alt="">
      </div>
      <div class="">
        <img class="img-fluid"
          [src]="side.side4"
          alt="">
      </div>

    </div>

    <h2 class="section_heading">FEATURED</h2>
    <div class="side_container_featured">

      <div class="row">
        <div class="col-5">
          <img class="img-fluid"
            [src]="side.side1"
            alt="">
        </div>
        <div class="col-7">
          <h3>9 laundry hack that will save you a ton of time and money</h3>
        </div>
      </div>



    </div>
  </aside>
</div>
