
.side_container_categories{
  column-count: 2;
  background-color: whitesmoke;
  padding: 1rem 1rem 0rem 1rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.side_container_categories div{
  margin-bottom: 1rem;
}

// Featured Articles

.side_container_featured{
  background-color: whitesmoke;
  padding: 1rem;
}

.side_container_featured .row{
  background-color:  white;
  margin:  0;
  align-items: center
}

.side_container_featured .col-5{
  padding: 0;
}

.side_container_featured h3{
font-size: 1rem;
letter-spacing: 0px;
}
