/* You can add global styles to this file, and also import other style files */
@import './bootstrap4/scss/bootstrap.scss';


h1,
h2,
h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

/* About Angel styles */

.hero {
  position: relative;
}

.hero_title {
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero_title h2 {
  font-size: 3.5rem;
}

.hero_title h3 {
  font-size: 1.5rem;
}
